*{
    /*初始化,清除页面元素的内外边距*/
    padding: 0;
    margin: 0;
    color: rgb(255,255,255);
}
body{
    background-image: url("../images/hacg.fun_32.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.logo{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    height: 50px;
    width: 50px;
}
div.logo a:link, div.logo img{
    content: url("../images/logo_bright.png");
    width: 50px;
    height: 50px;
}
div.logo a:hover, div.logo img{
    content: url("../images/logo_dark.png");
    background-color: #f2e0fa;
}
.login{
    position: absolute;
    /*right: 0;*/
    right: 0;
    top: 0;
}
.login a{
    display: block;
    width: 140px;
    height: 60px;
    font-size: 10px;
    color: #f2e0fa;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.login a:link,.login:visited{
    color: #f2e0fa;
}
.login a:hover,.login a:active{
    color: #b0ebff;
    background: rgba(220,255,252,0.3);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    min-width: 140px;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
div.container{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
}
ul.container{
    display: flex;
    justify-content: center;
    list-style: none;
}
ul.container li{
    transition: all 0.3s ease-in-out;
}
ul.container a{
    /*相对定位*/
    position: relative;
    /*将a这个行内元素转换为块级元素 不然无法设置宽和高*/
    display: block;
    width: 140px;
    height: 60px;
    /*行高*/
    line-height: 60px;
    text-align: center;
    color: #f2e0fa;
    font-size: 20px;
    /*取消下划线*/
    text-decoration: none;
    /*过渡事件*/
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
ul.container a:hover{
    background-color: #f2e0fa;
    color: #000000;
    /*加个发光效果和下面的倒影*/
    /*模糊度加到50px*/
    box-shadow: 0 0 50px #f2e0fa;
    /*below是下倒影，1px是倒影的元素相隔的距离，最后是个渐变的颜色*/
    -webkit-box-reflect: below 1px
    linear-gradient(transparent,rgba(0, 0, 0, 0.3));
    animation: label 1s;
    /*设置以下属性的延迟时间*/
    transition-delay: 0.4s;
}
#content{
    width: 100%;
    height: 70vh;
    text-align: center;
    padding-top: 200px;
    /*padding-bottom: 10vh;*/
}
#subContent{

}
h1.title{
    font-size: 45px;
}
p.content{
    font-size: 20px;
}
button.joinUs{
    width: 400px;
    height: 60px;
    background-color: #1b3963;
    border: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
button.joinUs:link,button.joinUs:visited{
    background-color: #1b3963;
    color: white;
}
button.joinUs:hover{
    background-color: #f2e0fa;
    color: #1b3963;
    box-shadow: 0 0 50px #f2e0fa;
    -webkit-box-reflect: below 1px
    linear-gradient(transparent,rgba(0, 0, 0, 0.3));
    animation: label 1s;
    -webkit-animation: label 1s;
    transition-delay: 0.4s;
}